/desktop-app-percobaan/node_modules
/desktop-app-dashboard/node_modules
/desktop-app-dashboard/react-app/node_modules

/desktop-app-dashboard/laravel-app/node_modules
/desktop-app-dashboard/laravel-app/public/build
/desktop-app-dashboard/laravel-app/public/hot
/desktop-app-dashboard/laravel-app/public/storage
/desktop-app-dashboard/laravel-app/storage/*.key
/desktop-app-dashboard/laravel-app/vendor
/desktop-app-dashboard/laravel-app/.env
/desktop-app-dashboard/laravel-app/.env.backup
/desktop-app-dashboard/laravel-app/.env.production
/desktop-app-dashboard/laravel-app/.phpunit.result.cache
/desktop-app-dashboard/laravel-app/Homestead.json
/desktop-app-dashboard/laravel-app/Homestead.yaml
/desktop-app-dashboard/laravel-app/auth.json
/desktop-app-dashboard/laravel-app/npm-debug.log
/desktop-app-dashboard/laravel-app/yarn-error.log
/desktop-app-dashboard/laravel-app/.fleet
/desktop-app-dashboard/laravel-app/.idea
/desktop-app-dashboard/laravel-app/.vscode